.todo{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

.list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.listRow{
    margin: 0 auto;
    margin-top: 10px;
}
